{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="d-inline me-3">
		<i class="fas fa-file-video" style="margin-right:3px;"></i>
		VideoTube
	</h1>
    <div class="row mt-5">
        <div class="col-12 col-md-12 ps-5">
			<h1><i class="fas fa-edit"></i></h1>
        </div>
    </div>
</div>
{% endblock %}
